<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuguangqiang.irunning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.RunningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="adde5d40dc12d0a3728e9ff49aecea6f83cca418" />

        <activity android:name=".act.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.RunningService" />

        <activity android:name=".act.main.MainActivity"></activity>
    </application>

</manifest>